<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Class Journal</title>
</head>
<body>
<div id="wrapper">
    <header id="mainHeader">
        <h1>My Class Journal</h1>
    </header>
    <br>
    <main>
        <h2>About Me</h2>
        <p>My Name is Tianzuo Huang. I'm a fourth-year international student major in IT
            Game Development. I'm interested in video/PC games</p>
        <p>Leaving China to America and continue my study here is one of the most important decisions I've made in my life.
            It was not the desire for the life overseas,
            but the pursuit of my study that aroused my idea to study abroad. Because I think I can learn much more
            different things in the different countries and expand my horizon. Furthermore, I think it was valuable
            for me to contribute my youth into this way to study, the most prospective enterprise in the future.</p>
        <p>It was my curiosity that pushed me onto the road of learning new technologies and it was my strong learning
            ability and capability that presented me with the current achievement. I believe that standing at the cross
            road of life after a few years further study, I will be more confident and stronger expectative for my future.</p>
    </main>
</div>
</body>
</html>